.principal {
    height: 100vh;
    background-color: #f0f0f0;
}


  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px; 
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px; 
    height: 100px; 
    cursor: pointer;
}

h2 {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    color: #333;
    margin: 0; 
    top: 180px; /* Ajuste este valor para colocar o h2 exatamente onde deseja */
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
}

h3 {
    text-align: center;
}

/* Estilo do formulário */
.form-container {
    display: flex;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: flex-start; 
    gap: 10px; /* Reduz o espaço entre as caixas */
    margin-top: 10px; /* Espaço acima da form-container */
}

/* Estilo das caixas de formulário */
.box {
    width: 373px; 
    height: 320px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box; 
    margin-top: 230px; /* Aumente este valor para mover mais para baixo */
}

/* Estilo da caixa azul */
.azul {
    background-color: #1068B2; 
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo da caixa branca */
.branco {
    text-align: center;
}


/* Estilo dos campos de entrada */
input {
    width: calc(100% - 50px); 
    padding: 8px; /* Reduz o padding dos campos de entrada */
    margin-bottom: 14px; /* Reduz o espaço entre os campos de entrada */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    color: #333;
    font-family: 'Nunito', sans-serif;
    
}

/* Estilo dos placeholders */
input::placeholder {
    color: #000000; 
}

/* Estilo dos botões */
button {
    font-family: 'Nunito', sans-serif;
    width: calc(100% - 50px); 
    background-color: #1068B2; 
    color: white;
    padding: 10px 0; /* Reduz a altura do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px; /* Adiciona um pequeno espaço acima do botão */
}