.filter-bar .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  /* background-color: #f1f1f1; */
  border-radius: 8px;
}

.filter-bar input[type="text"] {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
}

/* .filter-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
.filter-button {
  justify-content: center;
  width: 120px;
  margin: 8px;
}
.filter-button1 {
  justify-content: center;
  width: 150px;
  margin: 8px;
}
/* .search-filter {
  justify-content: center;
  align-items: center;
} */
