.filtro-bar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}


.filters {
  margin-top: 30px;
  margin-bottom: 30px; 
}

.filtro-bar input[type="text"] {
  background-color: #ffffff; 
  border: 1px solid #ffffff;
  color: #1F1C14;
  border-radius: 7px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding: 17px 20px;
  flex-grow: 1;
  width: 480px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.search-input::placeholder {
  color: #1F1C1480;
  font-size: 15px;
}

.filtro-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filtro-button {
  width: 110px;
  height: 50px;
  padding: 10px;
  background-color: #ffffff; 
  color: #1F1C14;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 8px;
}

.filtro-button:hover {
  background-color: #016AFA;
  color: #FFFFFF;
}

#tamanho-logica {
  width: 180px;
}

#tamanho-orientacao {
  width: 180px;
}

.filtro-button:focus {
  outline: none;
  background-color: #016AFA;
  color: #FFFFFF;
}

.search-filtro {
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
}

.search-container {
  position: relative; 
}

.search-input {
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box; 
}

.search-button {
  position: absolute; 
  right: 10px; 
  top: 26%; 
  transform: translateY(-50%); 
  background: none; 
  border: none; 
  cursor: pointer; 
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.sort-select {
  background-color: #ffffff; 
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.filter-text, .sort-select {
  display: inline-block;
  vertical-align: middle;
}

.filter-text {
  margin-right: 0;
  margin-left: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #1F1C1480;
}

.filter-container {
  width: 230px;
  background-color: #ffffff; 
  padding: 6px; 
  border-radius: 5px; 
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}
