body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F0F0F0;
}
.intro {
    height: 100vh;
}
/* header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
} */

.intro-section {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
}

.text-container {
    max-width: 60%;
    text-align: left;
    padding: 20px;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin: 70px 0 20px 70px;
}

.paragraph {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 100px 20px 70px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.buttonIntro1 {
    font-family: 'Nunito', sans-serif;
    background-color: #89CFF0;
    color: #1F1C14;
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 16px;
    width: 273px;
    height: 70px;
    margin: 0 0 20px 70px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}

.buttonIntro1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.puzzle {
    position: absolute;
    top: 150px; 
    right: 90px; 
    width: 300px; 
    height: auto;
}