@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.depoiments {
  background-color: #93cae2;
  padding-top: 20px;
}
.depoiments h2 {
  font-size: 48px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

.slider-container {
  width: 100vw;
  background-image: url(../assets/img/bg2.png);
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.slider-container .sliders {
  width: 70vw;
  display: block;
}
.slider-container .sliders div {
  display: flex;
  gap: 30px;
}
.sliders div article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border-radius: 20px;
}
